.thumbnail {
  width: 100%;
}

.video-title-link,
.video-author a {
  text-decoration: none;
  color: black;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 20px;
}

/* Fine-tune font sizes for better scaling */
.video-title {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.625rem; /* Adjust as needed */
}

.video-info-grid {
  display: grid;
  grid-template-columns: 36px 1fr;
}

.profile-picture {
  width: 2.25rem; /* Adjust as needed */
  border-radius: 50%;
}

/* Adjust margin and font size for better mobile display */
.video-author,
.video-stats {
  font-size: 0.75rem;
  color: rgb(96, 96, 96);
}

@media (min-width: 480px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Fine-tune font sizes for larger screens */
  .video-title {
    font-size: 1rem;
    line-height: 1.5;
  }

  .video-author,
  .video-stats {
    font-size: 0.875rem;
  }
}

